<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Stripe Merchant Account</title>
<meta name="description"
	content="Stripe merchant transfers and capturing charges">
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/bootswatch.css" rel="stylesheet">
<link href="/css/bootstrap-timepicker.css" rel="stylesheet">
<link href="/css/datepicker.css" rel="stylesheet">
<link href="/css/styles.css" rel="stylesheet">
<link href="/css/docs.css" rel="stylesheet">
<link href="/blocks/b-ajaxForm/b-ajaxForm.css" rel="stylesheet">
<link href="/css/bootstrap-formhelpers.min.css" rel="stylesheet">
</head>
<body>
	<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav"
		role="banner">
		<div class="container">
			<div class="navbar-header">
				<button class="navbar-toggle" type="button" data-toggle="collapse"
					data-target=".bs-navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a href="#" class="navbar-brand">Stripe Transfers</a>
			</div>
			<nav class="collapse navbar-collapse bs-navbar-collapse"
				role="navigation">
				<ul class="nav navbar-nav">
					<li><a href="charge">Create Charge</a></li>
					<li><a href="transfer">Create Transfers</a></li>
					<li><a href="recipient">Create Recipient</a></li>
					<li><a href="charges">List of Charges</a></li>
					<li><a href="transfers">List of Transfers</a></li>
					<li><a href="recipients">List of Recipients</a></li>
				</ul>

			</nav>
		</div>
	</header>
	{{{body}}}
	<script src="/js/jquery-1.10.2.js"></script>
	<script src="/js/jquery.ui.js"></script>
	<script src="/js/jquery.iframe-transport.js"></script>
	<script src="/js/jquery.fileupload.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/bootstrap-timepicker.js"></script>
	<script src="/js/bootstrap-datepicker.js"></script>
	<script src="/js/jquery.ui.widget.tools.js"></script>
	<script src="/blocks/b-ajaxForm/b-ajaxForm.js"></script>
	<script src="/js/jquery.roles.js"></script>
	<script src="/js/feather.js"></script>
	<script src="/js/jquery.formance.min.js"></script>
	<script src="/js/bootstrap-formhelpers.min.js"></script>
	<script src="/js/init.js"></script>
	{{{block "footerscripts"}}}
</body>
</html>