{{!< main}}
<br />
<div class="main">
	<div class="container">

		<div class="row">
			<div class="col-md-8 col-md-push-1 col-xs-12">
				<div class="widget stacked">
					<div class="widget-header">
						<h3>Capture Charges</h3>
					</div>
					<div class="widget-content">
						<div class="row" style="padding: 10px;">
							<form class="b-chargeList__addForm" action="/charges/add"
								method="post" role="b-ajaxForm" autocomplete="off">
								<div class="form-group col-md-6">
									<input type="text" name="amount" placeholder="amount in USD"
										autofocus required class="form-control">
								</div>
								<div class="form-group col-md-6">
									<input type="text" name="name"
										placeholder="Cardholder's name(optional)" autofocus
										class="form-control">
								</div>
								<div class="clearfix"></div>
								<div class="form-group col-md-6">
									<div class="bfh-selectbox" data-name="capture" id="capture"
										data-value="">
										<div data-value="">Select Capture Type</div>
										<div data-value="authorize">Authorize</div>
										<div data-value="capture">Capture</div>
									</div>
								</div>
								<div class="form-group col-md-6">
									<textarea name="comment" rows="4" cols="50"
										placeholder="Optional comments about the transaction"
										autofocus class="form-control"></textarea>
								</div>
								<div class="clearfix"></div>
								<h4>Card Information</h4>
								<div class="form-group col-md-6">
									<input type="text" name="cardNumber" autofocus required
										class="form-control credit_card_number"
										placeholder="Card number (Visa/Mastercard/Amex)">
								</div>
								<div class="form-group col-md-6">
									<input type="text" name="cvc" required
										class="form-control credit_card_cvc" placeholder="cvc">
								</div>
								<div class="clearfix"></div>
								<div class="form-group col-md-6">
									<input type="text" name="expiry" required
										class="form-control credit_card_expiry"
										placeholder="Expiry: MM/YYYY">
								</div>
								<div class="form-group col-md-6">
									<input type="text" name="phoneNumber" required
										class="form-control phone_number" placeholder="Phone number">
								</div>
								<div class="clearfix"></div>
								<div class="form-group col-md-6">
									<input type="email" name="email" required class="form-control"
										placeholder="Email">
								</div>
								<div class="form-group col-md-6">

									<div class="bfh-selectbox" data-name="product" id="product"
										data-value="">
										<div data-value="">Select a Product...</div>
										<div data-value="a">Product A</div>
										<div data-value="b">Product B</div>
										<div data-value="c">Product C</div>
										<div data-value="d">Product D</div>
									</div>
								</div>
								<div class="clearfix"></div>
								<h4>Billing Info</h4>
								<div class="form-group col-md-6">
									<input type="text" name="addressLine1" class="form-control"
										placeholder="Address Line 1 (optional)">
								</div>
								<div class="form-group col-md-6">
									<input type="text" name="addressLine2" class="form-control"
										placeholder="Address Line 2 (optional)">
								</div>
								<div class="clearfix"></div>
								<div class="form-group col-md-6">
									<input type="text" name="city" class="form-control"
										placeholder="City (optional)">
								</div>
								<div class="form-group col-md-6">
									<input type="text" name="state" class="form-control"
										placeholder="State (optional)">
								</div>
								<div class="clearfix"></div>
								<div class="form-group col-md-6">
									<input type="text" name="zip" class="form-control"
										placeholder="Zip (optional)">
								</div>
								<div class="form-group col-md-6">
									<input type="text" name="country" class="form-control"
										placeholder="Country (optional)">
								</div>
								<div class="clearfix"></div>
								<span class="pull-left"><h4>Shipping Info</h4></span>
                                <label class="input-group pull-left" style="margin:10px 0 0 30px;">
                                    <input type="checkbox" name="same" value='same'> Same as Billing address
                                </label>
                                <div class="clearfix"></div>
								<div class="form-group col-md-6">
									<input
										type="text" name="s_addressLine1" class="form-control"
										placeholder="Address Line 1 (optional)">
								</div>
								<div class="form-group col-md-6">
									<input
										type="text" name="s_addressLine2" class="form-control"
										placeholder="Address Line 2 (optional)">
								</div>
								<div class="clearfix"></div>
								<div class="form-group col-md-6">
									<input type="text"
										name="s_city" class="form-control" placeholder="City (optional)">
								</div>
								<div class="form-group col-md-6">
									<input type="text"
										name="s_state" class="form-control" placeholder="State (optional)">
								</div>
								<div class="clearfix"></div>
								<div class="form-group col-md-6">
									<input type="text"
										name="s_zip" class="form-control" placeholder="Zip (optional)">
								</div>
								<div class="form-group col-md-6">
									<input type="text"
										name="s_country" class="form-control" placeholder="Country (optional)">
								</div>
								<div class="clearfix"></div>
								<button type="submit"
									class="btn btn-lg btn-success btn-block b-ajaxForm__submitButton"
									autocomplete="off">Create Charge</button>

								<label class="help-block text-danger b-ajaxForm__errorMessage"></label>
								<label
									class="help-block text-success b-ajaxForm__successMessage"></label>
							</form>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

</div>
{{#contentFor 'footerscripts'}}
<script type='text/javascript'>$(function() {$("button[type='submit']").prop("disabled", true);$("input.credit_card_number").formance("format_credit_card_number");$("input.credit_card_number").formance("validate_credit_card_number");$("input.credit_card_number").on( 'keyup change blur', function (event) {if ( $(this).formance('validate_credit_card_number') ){$(this).css('border-color','green');$("button[type='submit']").prop("disabled", false);} else{ $(this).css('border-color','red');$("button[type='submit']").prop("disabled", true);}});$("input.credit_card_expiry").formance("format_credit_card_expiry");$("input.credit_card_expiry").formance("validate_credit_card_expiry");$("input.credit_card_expiry").on( 'keyup change blur', function (event) {if ( $(this).formance('validate_credit_card_expiry') ){$(this).css('border-color','green');$("button[type='submit']").prop("disabled", false);} else{ $(this).css('border-color','red');$("button[type='submit']").prop("disabled", true);}});$("input.credit_card_cvc").formance("validate_credit_card_cvc");$("input.credit_card_cvc").on( 'keyup change blur', function (event) {if ( $(this).formance('validate_credit_card_cvc') ){$(this).css('border-color','green');$("button[type='submit']").prop("disabled", false);} else{ $(this).css('border-color','red');$("button[type='submit']").prop("disabled", true);}});});</script>
{{/contentFor}}
