{{!< main}}
<br />
<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="widget stacked">
                    <div class="widget-header">
                        <h3>List of Transfers</h3>
                    </div>
                    <div class="widget-content">
                        <div class="row">
                            <div class="col-md-12 b-transferList" role="b-transferList"
                                onclick="return {url: '/transfers/list'};">
                                <div class="b-transferList__list"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>