.b-recipientList__addForm {
    display: block;
}

.b-recipientList__addBlock_open .b-recipientList__addForm {
    display: block;
}

.b-recipientList__addBlock_open .b-recipientList__addButton{
    display: none;
}

.b-recipientList__successMessage,
.b-recipientList__errorMessage{
    display: none;
}
.b-recipientList_success .b-recipientList__successMessage,
.b-recipientList_error .b-recipientList__errorMessage{
    display: block;
}